.site-box {
	text-align: center;
	background-image: url(https://jackedoo612.nekoweb.org/images/background.png); /* Only nekoweb URLs allowed, use full url to your site like https://example.nekoweb.org/images/coolbg.png */
	background-repeat: no-repeat;
	color: #424241
}
  <!-- THIS IS THE CSS !-->
        <style>
            /* user styles */

            /* styles are what change the color and sizes of stuff on your site. */

            /* these are variables that are being used in the code
    these tended to confuse some people, so I only kept 
    the images as variables */
    
            .mslogoheader {
                width: 32%;
                padding: 3px;
                left: 5;
                top: 5;
                position: fixed;
                z-index: 99;
                filter: drop-shadow(6px 6px 3px rgb(0, 0, 0, 0.8));
            }
            
            .mslogos {
                width: 325px;
                margin-top: -50px;
                margin-bottom: -50px;
                margin-left: -5px;
                margin-right: -5px;
            }
            
            .mslogostable {
                width: 70%;
                padding: -20px;
                transform: scale(1)
                margin: 0px;
            }
            
            .MSLogoFont1 {
            	font-family: 'Polsku';
            	font-size: 90%;
            	font-weight: normal;
            	padding-right: -0.3%;
            	line-height: 0.8;
            }
            
            .MSLogoFont2 {
            	font-family: 'Xolonium-Bold';
            	font-size: 98%;
            	font-weight: normal;
            	padding-left: -0.3%;
                line-height: 0.8;
            }
            
            .scrollingtext {
                font-family: 'BebasNeue';
                font-size: 40px;
            }
            
            .grid-container {
                scale: 90%;
                display: grid;
                gap: 10px 10px;
                grid-template-columns: repeat(2, 2fr);
                row-gap: 10px 10px;
                padding-left: 18%;
                padding-right: 18%;
                padding-top: 10%;
                padding-bottom: 15%;
                place-self: center;
            }
            
            .hr {
               display: block;
               margin-top: 0.5em;
               margin-bottom: 0.5em;
               margin-left: auto;
               margin-right: auto;
               border-style: inset;
            }
            
            .table, th, td {
              border: 0px solid black;
              border-collapse: collapse;
            }
            
            /**Navbar**/
            .nav {
               background-color: black;
               
            }
            
            .nav ul {
                width: 100%;
                list-style: none;
                justify-content: flex-end;
            }
            
            .nav li {
                height: 28px;
            }
            
            .nav a {
                height: 100%;
                padding: 0 30px;
                text-decoration: none;
                color: white;
                
            }
            
            .sidebarM {
                position: fixed;
                top: 0;
                right: 0;
                padding: 10px;
                height: 100vh;
                width: 280px;
                z-index: 100;
                display: none;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                background-color: rgba(0, 0, 0, 0.68);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
            }
            
            .sidebarM li {
                width: 100%;
                
            }
            
            .sidebarM a {
                width: 100%;
            }
            
            .sidebarmenu {
                width: 5%;
                padding: 5px;
                right: 5px;
                top: 20px;
                position: fixed;
                z-index: 99;
            }
            
            .sidebarmenuhide {
                width: 20%;
                right: 5px;
                top: -15px;
            }

            /**User Tags**/
            .MSStudioName {
               -webkit-animation: MeanieS 3s infinite; 
               -moz-animation: MeanieS 3s infinite; 
               -ms-animation: MeanieS 3s infinite; 
               animation: MeanieS 3s infinite;
               font-weight: bold;
            }
            
            .StarIndex {
               -webkit-animation: MeanieStarIndex 1s linear infinite; 
               -moz-animation:MeanieStarIndex 1s linear infinite; 
               -ms-animation: MeanieStarIndex 1s linear infinite; 
               animation: MeanieStarIndex 1s linear infinite;
               margin: -0%;
               white-space: nowrap;
               line-height: 0.8;
            }
            
            .StarIndexHover {
            	display: inline-flex;
                transform: scale(1) rotateZ(0deg);
                transition: transform 0.3s;
            }
            
            .StarIndexHover:hover {
                transform: scale(1.3) rotateZ(360deg);
            }

            /**Tag Animations**/
            @-webkit-keyframes MeanieS{
              0%{color: #0800fe; text-shadow: 0 0 8px #0800fe;}
              40%{color: #fe00f1; text-shadow: 0 0 8px #fe00f1;}
              80%{color: #00fe12; text-shadow: 0 0 8px #00fe12;}
              100%{color: #0800fe; text-shadow: 0 0 8px #0800fe;}
            }

            @keyframes MeanieS{
              0%{color: #0800fe; text-shadow: 0 0 8px #0800fe;}
              40%{color: #fe00f1; text-shadow: 0 0 8px #fe00f1;}
              80%{color: #00fe12; text-shadow: 0 0 8px #00fe12;}
              100%{color: #0800fe; text-shadow: 0 0 8px #0800fe;}
            }
            
            @-webkit-keyframes MeanieStarIndex{
              0%{color: #ffffff; text-shadow: 0 0 10px #ffffff;}
              50%{color: #ffee06; text-shadow: 0 0 8px #ffee06;}
              100%{color: #ffffff; text-shadow: 0 0 10px #ffffff;}
            }
            
            @keyframes MeanieStarIndex{
              0%{color: #ffffff; text-shadow: 0 0 10px #ffffff;}
              50%{color: #ffee06; text-shadow: 0 0 8px #ffee06;}
              100%{color: #ffffff; text-shadow: 0 0 10px #ffffff;}
            }
            
            @-webkit-keyframes ColorHover{
              0%{color: #ffffff; text-shadow: 0 0 0px #ffffff;}
              50%{color: #ff16c4; text-shadow: 0 0 8px #ff16c4;}
              100%{color: #ffffff; text-shadow: 0 0 0px #ffffff;}
            }
            
            @keyframes ColorHover{
              0%{color: #ffffff; text-shadow: 0 0 0px #ffffff;}
              50%{color: #ff16c4; text-shadow: 0 0 8px #ff16c4;}
              100%{color: #ffffff; text-shadow: 0 0 0px #ffffff;}
            }
            
            @-webkit-keyframes BGFirstLayerGlowPulse{
              0%{background-color: rgba(0, 0, 0, 0.65);}
              100%{background-color: rgba(0, 0, 0, 0.90);}
            }
            
            @keyframes BGFirstLayerGlowPulse{
              0%{background-color: rgba(0, 0, 0, 0.65);}
              100%{background-color: rgba(0, 0, 0, 0.90);}
            }
            
            .MSStudioName {
                font-size: 350%;
                margin-top: 0px;
                margin-bottom: -17px;
                margin-left: 0px;
                margin-right: 0px;
                -webkit-text-stroke-width: 1.5px;
                -webkit-text-stroke-color: black;
            }
            
            .MSStudioName2 {
                font-size: 220%;
                margin-top: 0px;
                margin-bottom: 0px;
                margin-left: 0px;
                margin-right: 0px;
            }
            
            h2 {
                font-size: 150%;
                margin-top: -15px;
                margin-bottom: -18px;
            }
            
            @media only screen and (max-width: 1280px) {
            	.grid-container {
                scale: 85%;
                display: grid;
                gap: 10px 10px;
                grid-template-columns: repeat(2, 2fr);
                row-gap: 10px 10px;
                padding-left: 16%;
                padding-right: 16%;
                padding-top: 15%;
                padding-bottom: 13%;
                place-self: center;
                }
            }
            
            @media only screen and (max-width: 1210px) {
            	.grid-container {
                scale: 85%;
                display: grid;
                gap: 10px 10px;
                grid-template-columns: repeat(2, 2fr);
                row-gap: 10px 10px;
                padding-left: 14%;
                padding-right: 14%;
                padding-top: 15%;
                padding-bottom: 14%;
                place-self: center;
                }
            }
            
            @media only screen and (max-width: 1092px) {
            	.grid-container {
                scale: 85%;
                display: grid;
                gap: 10px 10px;
                grid-template-columns: repeat(2, 2fr);
                row-gap: 10px 10px;
                padding-left: 11%;
                padding-right: 11%;
                padding-top: 14%;
                padding-bottom: 13%;
                place-self: center;
                }
            }
            
            @media only screen and (max-width: 1006px) {
            	.grid-container {
                scale: 80%;
                display: grid;
                gap: 10px 10px;
                grid-template-columns: repeat(2, 2fr);
                row-gap: 10px 10px;
                padding-left: 8%;
                padding-right: 8%;
                padding-top: 13%;
                padding-bottom: 13%;
                place-self: center;
                }
            }
            
            @media only screen and (max-width: 945px) {
            	.grid-container {
            	scale: 80%;
                display: grid;
                gap: 10px 10px;
                grid-template-columns: repeat(2, 2fr);
                row-gap: 10px 10px;
                padding-left: 4%;
                padding-right: 4%;
                padding-top: 20%;
                padding-bottom: 23%;
                place-self: center;
                }
            }
            
            @media only screen and (max-width: 800px) {
                .MSStudioName {
                    font-size: 220%;
                    margin-top: -8px;
                    margin-bottom: -8px;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: black;
                }
                
                .MSStudioName2 {
                    font-size: 120%;
                    margin-top: -5px;
                    margin-bottom: -5px;
                }
                
                h2 {
                font-size: 100%;
                margin-top: -8px;
                margin-bottom: -8px;
                }
                
                .mslogos {
                width: 40%;
                margin-top: 3px;
                margin-bottom: 30px;
                }
                
                .mslogoheader {
                width: 75%;
                }
                
                .sidebarmenu {
                width: 10%;
                left: 5;
                top: -10;
                }
                
                .table, th, td {
                display: none;
                }
                
                .grid-container {
                display: block;
                gap: 10px 10px;
                grid-template-columns: repeat(2, 2fr);
                row-gap: 10px 10px;
                padding-left: 5%;
                padding-right: 5%;
                padding-top: 5%;
                padding-bottom: 5%;
                place-self: center;
                }
            }
            
            @media only screen and (max-width: 430px) {
            	.mslogos {
                width: 70%;
                margin-top: -10px;
                margin-bottom: 30px;
                }
                
                .grid-container {
                	scale: 90%;
                	display: block;
                	padding-top: 5%;
                	padding-bottom: 20%;
                	padding-left: 3%;
                    padding-right: 3%;
                }
                
                .MSStudioName {
                    font-size: 240%;
                    margin-top: -8px;
                    margin-bottom: -8px;
                }
                
                .MSStudioName2 {
                    font-size: 140%;
                    margin-top: -4px;
                    margin-bottom: -4px;
                }
                
                h2 {
                font-size: 120%;
                margin-top: -8px;
                margin-bottom: -8px;
                }
            }
            
            @media only screen and (max-width: 396px) {
            	.mslogos {
                width: 70%;
                margin-top: -10px;
                margin-bottom: 30px;
                }
                
                .grid-container {
                	scale: 85%;
                	display: block;
                	padding-top: 5%;
                	padding-bottom: 20%;
                	padding-left: 3%;
                    padding-right: 3%;
                }
                
                .MSStudioName {
                    font-size: 240%;
                    margin-top: -8px;
                    margin-bottom: -8px;
                }
                
                .MSStudioName2 {
                    font-size: 140%;
                    margin-top: -4px;
                    margin-bottom: -4px;
                }
                
                h2 {
                font-size: 120%;
                margin-top: -8px;
                margin-bottom: -8px;
                }
            }

            :root {
                --header-image: url('https://meaniesturgill.nekoweb.org/BG/container02.jpg');
                --body-bg-image: url('');
                --footer-image: url('https://meaniesturgill.nekoweb.org/BG/container03.jpg');

                /* colors */
                --content: #ffffff;
            }
            
            /* Scrollbar */
            ::-webkit-scrollbar {
            	width: 10px;
            }
            
            ::-webkit-scrollbar-track {
            	background: black;
            }
            
            ::-webkit-scrollbar-thumb {
            	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(16,0,255,1) 25%, rgba(252,0,255,1) 50%, rgba(0,255,16,1) 75%, rgba(0,0,0,1) 100%);
            }
            
            /* if you have the URL of a font, you can set it below */
            /* feel free to delete this if it's not your vibe */

            /* this seems like a lot for just one font and I would have to agree 
    but I wanted to include an example of how to include a custom font.
    If you download a font file you can upload it onto your Neocities
    and then link it! Many fonts have separate files for each style
    (bold, italic, etc. T_T) which is why there are so many!
    
    */

            @font-face {
                font-family: Montserrat;
                src: url('https://meaniesturgill.nekoweb.org/fonts/Montserrat-Regular.ttf');
            }

            @font-face {
                font-family: Montserrat;
                src: url('https://meaniesturgill.nekoweb.org/fonts/Montserrat-ExtraBold.ttf');
                font-weight: bold;
            }

            @font-face {
                font-family: Montserrat;
                src: url('https://meaniesturgill.nekoweb.org/fonts/Montserrat-Italic.ttf');
                font-style: italic;
            }

            @font-face {
                font-family: Montserrat;
                src: url('https://meaniesturgill.nekoweb.org/fonts/Montserrat-ExtraBoldItalic.ttf');
                font-style: italic;
                font-weight: bold;
            }
            
            @font-face {
                font-family: BebasNeue;
                src: url('https://meaniesturgill.nekoweb.org/fonts/BebasNeue-Regular.ttf');
            }
            
            @font-face {
                font-family: Polsku;
                src: url('https://meaniesturgill.nekoweb.org/fonts/Polsku.ttf');
            }
            
            @font-face {
                font-family: Xolonium-Bold;
                src: url('https://meaniesturgill.nekoweb.org/fonts/Xolonium-Bold.ttf');
            }

            body {
                font-family: 'Montserrat', sans-serif;
                margin: 0;
                background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(17,0,255,1) 15%, rgba(0,0,0,1) 30%, rgba(251,0,255,1) 50%, rgba(0,17,7,1) 70%, rgba(0,255,17,1) 85%, rgba(0,4,0,1) 100%);
                background-color: black;
                background-size: cover;
                color: #ffffff;
                background-attachment: fixed;
                background-position: center;
            }

            * {
                box-sizing: border-box;
            }

            /* below this line is CSS for the layout */

            /* this is a CSS comment
    to uncomment a line of CSS, remove the * and the /
    before and after the text */


            /* the "container" is what wraps your entire website */
            /* if you want something (like the header) to be Wider than
    the other elements, you will need to move that div outside
    of the container */
            #container {
                max-width: cover;
                /* this is the width of your layout! */
                /* if you change the above value, scroll to the bottom
      and change the media query according to the comment! */
                margin: 0 auto;
                /* this centers the entire page */
            }

            /* the area below is for all links on your page
    EXCEPT for the navigation */
            #container a {
                color: #ffffff;
                font-weight: bold;
                /* if you want to remove the underline
      you can add a line below here that says:
      text-decoration:none; */
            }

            #header {
                width: 100%;
                background-color: #ffffff;
                /* header color here! */
                height: 120px;
                /* this is only for a background image! */
                /* if you want to put images IN the header, 
      you can add them directly to the <div id="header"></div> element! */
                background-image: var(--header-image);
                background-size: cover;
                background-attachment: scroll;
            }

            /* this colors BOTH sidebars
    if you want to style them separately,
    create styles for #leftSidebar and #rightSidebar */
            aside {
                background-color: #241445;
                width: 200px;
                padding: 20px;
                font-size: smaller;
                /* this makes the sidebar text slightly smaller */
            }


            /* this is the color of the main content area,
    between the sidebars! */
            main {
                text-align: center;
                background-color: rgba(0, 0, 0, 0.65);
                flex: 1;
                padding-top: 10px;
                padding-bottom: 10px;
                order: 2;
                z-index: 1;
            }
            
            .BG2ndLayer {
            	position: relative;
            	background-image: url('https://meaniesturgill.nekoweb.org/Misc/MSWebsiteBGLayer.png');
            	background-attachment: fixed;
            	background-size: 520px;
                background-position: absolute;
            	background-repeat: repeat;
            	-webkit-animation-name: movingbgT 5s infinite, BGFirstLayerGlowPulse 3s infinite;
                -moz-animation: movingbgT 5s infinite, BGFirstLayerGlowPulse 3s infinite;
                -ms-animation: movingbgT 5s infinite, BGFirstLayerGlowPulse 3s infinite;
                animation: movingbgT 5s infinite, BGFirstLayerGlowPulse 3s infinite;
                -webkit-animation-timing-function: linear;
                animation-direction: normal, alternate-reverse;
            	
            }
            
            .BG2ndLayer::after {
            	content: "";
            	position: absolute;
            	top: 0px;
            	left: 0px;
            	right: 0px;
            	bottom: 0px;
                z-index: -10;
            }
            
            @keyframes movingbgT {
                0% {background-position: top 0px left 0px;}
                100% {background-position: top 520px left 520px;}
            }

            /* what's this "order" stuff about??
    allow me to explain!
    if you're using both sidebars, the "order" value
    tells the CSS the order in which to display them.
    left sidebar is 1, content is 2, and right sidebar is 3! */

            footer {
                background-image: var(<bg-image>#);
                background-position: center;
                width: 100%;
                height: 100%;
                padding: 10px;
                text-align: center;
                /* this centers the footer text */
            }

            h1,
            h2,
            h3 {
                color: #ffffff;
            }

            strong {
                /* this styles bold text */
                color: #ffffff;
            }

            /* this is just a cool box, it's the darker colored one */
            .box {
                background-color: rgba(0, 0, 0, 0);
                border: 0px solid #ED64F5;
                padding: 10px;
            }

            /* CSS for extras */

            #topBar {
                width: 100%;
                height: 30px;
                padding: 10px;
                font-size: smaller;
                background-color: #13092D;
            }


            /* BELOW THIS POINT IS MEDIA QUERY */

            /* so you wanna change the width of your page? 
    by default, the container width is 900px.
    in order to keep things responsive, take your new height,
    and then subtrack it by 100. use this new number as the 
    "max-width" value below
    */

            @media only screen and (max-width: 800px) {
                #flex {
                    flex-wrap: wrap;
                }

                aside {
                    width: 100%;
                }

                /* the order of the items is adjusted here for responsiveness!
      since the sidebars would be too small on a mobile device.
      feel free to play around with the order!
      */
                main {
                    order: 1;
                }
            }
        </style>
        <style type="text/css">* {cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur116.cur), auto !important;}</style>